<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Új Verseny</title>
  </head>
  <body>
    <h1>Új Verseny</h1>
    <form th:action="@{/races}" th:object="${race}" method="post">
      <label
        >Név:
        <input type="text" th:field="*{nev}" />
      </label>
      <br />
      <label
        >Távolság (km):
        <input type="number" step="0.1" th:field="*{tavolsagKm}" />
      </label>
      <br />
      <button type="submit">Létrehozás</button>
    </form>
  </body>
</html>
